@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(160, 207, 140);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cash-flow-btn {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(155, 170, 150);
    padding: 1rem;
    margin: .5rem;
}

.search-address-btn, .calculator {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(101, 138, 87);
    padding: 1rem;
    margin: .5rem;
}

.search-criteria, .sq-foot, .bedrooms, .bathrooms {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.rent-form {
    width: 350px;
    height: 450px;
    margin: auto;
    position: relative;
}

.js-compCount, .sq-foot, .bedrooms, .bathrooms {
    width: 110px;
    margin: auto;
}

.rental-search-btn {
    margin: 3rem;
}

#rent-results {
    padding: 10rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}