@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,900&family=Montserrat:ital@1&family=Lobster&family=PT+Sans+Caption&family=Poppins:ital,wght@1,600&family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

/*///////////////////////////////FADE IN/////////////////////////////*/

.fade-in {
    animation: fadeIn ease 6s;
    -webkit-animation: fadeIn ease 6s;
    -moz-animation: fadeIn ease 6s;
    -o-animation: fadeIn ease 6s;
    -ms-animation: fadeIn ease 6s;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
}}

/* MOBILE FIRST */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    font-family: "Poppins", sans-serif;
}

.rent-form p {
    font-family: "PT Sans Caption", "Montserrat", sans-serif;
    padding: 20px 10px 0px 10px;
    font-style: italic;
}

.cash-flow-form p {
    font-family: "PT Sans Caption", "Montserrat", sans-serif;
    padding: 20px 10px 0px 10px;
    font-style: italic;
}

/* //////////////////////////////////////////////////////////////////////////// */

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 22px;
    text-decoration: underline;
    color: rgb(202, 22, 22);
    text-shadow: 1px 1px rgb(10, 10, 10);
    align-items: center;
    margin-left: 25px;
}

/* //////////////////////////////////////////////////////////////////////////// */

nav {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-align: center;
    margin-right: 25px;
}

.nav-links, .nav-link {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: rgb(61, 61, 61);
    font-weight: bold;
    margin-right: 15px;
    text-align: center;
}

/* //////////////////////////////////////////////////////////////////////////// */

.intro {
    display: flex;
    height: 200px;
    flex-direction: column;
    background-image: url(home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
    font-family: "PT Sans Caption", "Montserrat", sans-serif;
}

.intro-description {
    color: rgb(255, 255, 255);
    font-size: 13px;
    padding-right: 20px;
    margin-right: 25px;
    font-weight: bolder;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
}

/* //////////////////////////////////////////////////////////////////////////// */

.compCriteria {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row wrap;
}

.compCriteria, .cash-flow-calc {
    background-color: rgb(189, 189, 189);
}

.cash-flow-calc {
    display: flex;
    width: auto;
    flex-direction: column;
}

.inputCriteria, .calcCriteria {
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
    font-family: "PT Sans Caption", "Montserrat", sans-serif;
}

.input-fields {
    text-align: left;
    font-size: 14px;
    padding-top: 20px;
}

.rent-form, .cash-flow-form {
    justify-content: auto;
    justify-items: center;
    width: auto;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
}

/* //////////////////////////////////////////////////////////////////////////// */

#comps-gen {
    padding-top: 10px;
    text-decoration: underline;
}

.baseAddress, .comp-Count, .sq-foot, .bedrooms, .bathrooms, .propertyType, .monthly-rent, .expenses, .insurance, .taxes, .hoa, .vacancy, .cap-ex, .repairs, .property-management {
    font-family: "PT Sans Caption", "Montserrat", sans-serif;
    padding: 20px 10px 0px 10px;
}

.js-compCount, .js-square-foot, .js-bedrooms, .js-bathrooms, .js-monthly-rent, .js-mortgage, .js-expenses, .js-insurance, .js-taxes, .js-hoa, .js-vacancy, .js-cap-ex, .js-savings-repairs, .js-property-management {
    width: 50px;
    text-align: center;
    display: flex;
} 

.js-address {
    width: 150px;
}

.js-propertyType {
    width: 110px;
}

.js-compCount, .js-square-foot, .js-bedrooms, .js-bathrooms, .js-address, .js-propertyType, .js-monthly-rent, .js-mortgage, .js-expenses, .js-insurance, .js-taxes, .js-hoa, .js-vacancy, .js-cap-ex, .js-savings-repairs, .js-property-management {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-width: 0;
}

.expenses h3, .monthly-rent h3, .vacancy h3 {
    text-align: left;
    padding: 30px 0px;
    text-decoration: underline;
}

#flow-calc {
    text-decoration: underline;
    padding: 20px;
}

.vacancy p {
    margin: 20px 5px;
}
/* //////////////////////////////////////////////////////////////////////////// */

.cash-flow-btn, .rental-search-btn {
    background-color:#adadad;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:10px 10px;
    text-decoration:none;
    margin: 20px 0px;
	text-shadow:0px 1px 0px #757575;
}

/* //////////////////////////////////////////////////////////////////////////// */

.results {
    display: flex;
    flex-flow: column wrap;
    height: auto;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "PT Sans Caption", "Montserrat", sans-serif;
    font-size: 15px;
}

.result-list, .cashflow-results-list{
    height: auto;
    padding: 30px 10px;
    background-color:rgb(231, 231, 231);
    border-radius: 5px;
    margin: 10px;
}

.result-item {
    list-style: none;
}

#average-price, #cashflow-results {
    background-color: green;
    border-radius: 5px;
}

/* //////////////////////////////////////////////////////////////////////////// */

@media all and (min-width: 450px) {
    .intro {
        height: 300px;
    }
    .intro-description {
        font-size: 23px;
    }
}

@media all and (min-width: 600px) {
    nav {
        font-size: 15px;
    }
    .logo h1 {
        font-size: 30px;
    }
    .intro {
    height: 400px;
    }
    .intro-description {
        font-size: 28px;
    }
    #rent-results {
        flex-direction: row;
        align-items: center;
    }
    #cashflow-results {
        width: auto;
        margin: 10px 200px;
    }
}

@media all and (min-width: 900px) { 
    nav {
        font-size: 18px;
    }
    .logo h1 {
        font-size: 40px;
    }
    .intro {
    height: 600px;
    }
    .intro-description {
        font-size: 40px;
    }
    .cash-flow-form {
    margin: 0 100px;
}
}

@media all and (min-width: 1200px) { 
    nav {
        font-size: 19px;
    }
    .logo h1 {
        font-size: 50px;
    }
    .intro {
    height: 830px;
    }
    .intro-description {
        font-size: 60px;
    }
    .cash-flow-form {
    margin: 0 200px;
}
}