@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

* {
  box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(204, 221, 184);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    max-width: 600px;
}

.cash-flow-btn {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(254, 255, 253);
    padding: 1rem;
    margin: .5rem;
}

.search-address-btn {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    margin: .5rem;
}

.search-criteria, .sq-foot, .bedrooms, .bathrooms, .expenses, .insurance, .taxes, .hoa, .vacancy, .cap-ex, .repairs, .prop-management {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.rent-form, .cash-flow-form {
    width: 350px;
    height: 400px;
    margin: auto;
    position: relative;
}

.js-compCount, .sq-foot, .bedrooms, .bathrooms, .expenses, .insurance, .taxes, .hoa, .vacancy, .cap-ex, .repairs, .property-management {
    width: 150px;
    margin: auto;
}

.rental-search-btn {
    margin: 3rem;
}

#rent-results {
    padding: 10rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

li {
    list-style-type: none;
}